@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap");

@import "tailwindcss";

:root {
  --background: #FFF8F8;
  --foreground: #000000;
  --accent: #0118D8;
  --background-darker: #E6DFDF;
  font-family: 'Bricolage Grotesque', sans-serif;
}

@layer utilities {
  /* typography */
  .heading {
    @apply text-[60px];
  }
  .blue-span {
    @apply text-[var(--accent)];
  }

  .subheading {
    @apply text-[23px];
  }
  .paragraph {
    @apply text-[19px];
  }
  .subtext {
    @apply text-[14px];
  }

  /* inputs */
  .sign-in-button {
    @apply text-[19px] rounded-4xl py-2 my-5 w-full cursor-pointer;
    border: 2px solid black;
  }
  .dropdown-item {
    border-top: 1px solid rgba(0,0,0,0.25);
    border-bottom: 1px solid rgba(0,0,0,0.25);
  }

  /* misc */
  .blur-div {
    background-color: rgba(1,1,1,0.1);
  }
  .dialog-footer {
    border-top: 2px solid rgba(0,0,0,0.25);
  }
  .dialog-close {
    border-right: 2px solid rgba(0,0,0,0.25);
  }
  .dialog-input {
    border: 2px solid rgba(0,0,0,0.25);
    transition: 0.2s ease-in-out;
  }
  .dialog-input:active {
    border: 2px solid var(--accent);
    transition: 0.2s ease-in-out;
  }
  .border-top {
    border-top: 1px solid rgba(0,0,0,0.25);
  }
  .border-bottom {
    border-bottom: 1px solid rgba(0,0,0,0.25);
  }
  .loader {
    transform-origin: center center;
    transform-origin: 100% 100%;
    display: inline-block;
    animation: loaderRotate 1s linear infinite;
  }
}

@keyframes loaderRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Bricolage Grotesque', sans-serif;
}
