@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');
@import "tailwindcss";

:root {
  --background: #030303;
  --foreground: #f1f1f1;
  --accent: #A2C11C;
  --accent-darker: #3a4507;
  --background-darker: #131313;
  --foreground-darker: #9a9a9a;
  font-family: 'Bricolage Grotesque', sans-serif;
}

@layer utilities {
  /* typography */
  .heading {
    @apply text-[60px];
  }
  .blue-span {
    @apply text-[var(--accent)];
  }

  .subheading {
    @apply text-[23px];
  }
  .paragraph {
    @apply text-[19px];
  }
  .subtext {
    @apply text-[14px];
  }

  /* inputs */
  .sign-in-button {
    @apply text-[19px] rounded-4xl py-2 my-5 w-full cursor-pointer;
    border: 2px solid black;
  }
  .dropdown-item {
    border-top: 1px solid rgba(0,0,0,0.25);
    border-bottom: 1px solid rgba(0,0,0,0.25);
  }

  /* misc */
  .blur-div {
    background-color: rgba(1,1,1,0.1);
    backdrop-filter: blur(15px);
  }
  .dialog-footer {
    border-top: 2px solid rgba(0,0,0,0.25);
  }
  .dialog-close {
    border-right: 2px solid rgba(0,0,0,0.25);
  }
  .dialog-input {
    border: 2px solid #A2C11C;
    transition: 0.2s ease-in-out;
  }
  .dialog-input:focus {
    outline:none;
    transition: 0.2s ease-in-out;
  }
  .border-top {
    border-top: 1px solid rgba(0,0,0,0.25);
  }
  .border-bottom {
    border-bottom: 1px solid rgba(0,0,0,0.25);
  }
  .loader {
    transform-origin: center center;
    transform-origin: 100% 100%;
    display: inline-block;
    animation: loaderRotate 1s linear infinite;
  }
  .age-input {
    @apply rounded-xl px-2 py-2;
    outline: none;
  }
  .gradient-div {
    @apply w-full;
    filter: blur(15px);
    height: 150px;
    opacity: 0.5
  }
  .set-container {
    @apply rounded-2xl;
    border: 1px solid var(--accent);

  }
  ul {
    list-style: none;       /* turn off the browser’s default bullets */
    margin: 0;
    padding: 0;             /* we’ll do our own indentation on the <li> */
  }
  ul li {
    position: relative;     
    padding-left: 1.5rem;   /* ← space for the icon + gap */
    line-height: 1.2;        /* adjust to vertically center if needed */
    background: 
      url("/bulletpoint.svg") no-repeat 
      left center;          /* icon at the very left, vertically centered */
    background-size: 0.7rem;   /* match your SVG’s “font-size” */
  }
}

@keyframes loaderRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Bricolage Grotesque', sans-serif;
}
